<div class="flex text-center">
  {{t "login-step/telegram.goTalkWith"}}
  <a href="{{TELEGRAM_LINK}}/{{TELEGRAM_BOT}}" target="_blank">@{{TELEGRAM_BOT}}</a>
  {{t "login-step/telegram.toObtainKey"}}
</div>

{{#paper-form onSubmit=(action "authenticate" token) class="layout-column" as |form|}}
  {{form.input
    isInvalid=isInvalidToken
    isTouched=isTokenTouched
    onChange=(action (mut token))
    placeholder=(t "login-step/telegram.enterToken")
    required=true
    value=token
    errors=translatedErrors
    errorMessages=(hash
      required=(t 'login-step/telegram.tokenReuired')
    )
  }}

  {{#form.submit-button raised=true primary=true}}
    {{t "login-step/telegram.continue"}}
  {{/form.submit-button}}
{{/paper-form}}
