<a href="{{TELEGRAM_LINK}}/{{TELEGRAM_BOT}}" target="_blank">@{{TELEGRAM_BOT}}</a>

<form {{action 'authenticate' token on='submit'}}>
  <label for="token">Login</label>

  {{input id='token' placeholder='Enter Token' value=token}}

  <button type="submit">Login</button>

  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}
</form>
