<div class="layout-row">
  <div class="flex-30">{{t "userProfileDetaild.displayName"}}:</div>
  <div class="flex-70">{{user.displayName}}</div>
</div>

<div class="layout-row">
  <div class="flex-30">{{t "userProfileDetaild.name"}}:</div>
  <div class="flex-70">{{user.name}}</div>
</div>

<div class="layout-row">
  <div class="flex-30">{{t "userProfileDetaild.surname"}}:</div>
  <div class="flex-70">{{user.surname}}</div>
</div>

<div class="layout-row">
  <div class="flex-30">{{t "userProfileDetaild.middleName"}}:</div>
  <div class="flex-70">{{user.middleName}}</div>
</div>

<div class="layout-row">
  <div class="flex-30">{{t "userProfileDetaild.birthday"}}:</div>
  <div class="flex-70">{{user.birthday}}</div>
</div>

<div class="layout-row">
  <div class="flex-30">{{t "userProfileDetaild.gender"}}:</div>
  <div class="flex-70">{{user.gender}}</div>
</div>

<div class="layout-row">
  <div class="flex-30">{{t "userProfileDetaild.maritalStatus"}}:</div>
  <div class="flex-70">{{user.maritalStatus}}</div>
</div>

<div class="layout-row">
  <div class="flex-30">{{t "userProfileDetaild.education"}}:</div>
  <div class="flex-70">{{user.education}}</div>
</div>

<div class="layout-row">
  <div class="flex-30">{{t "userProfileDetaild.work"}}:</div>
  <div class="flex-70">{{user.work}}</div>
</div>

<div class="layout-row">
  <div class="flex-30">{{t "userProfileDetaild.favoriteLectots"}}:</div>
  <div class="flex-70">{{user.favoriteLectots}}</div>
</div>
