<div class="main-content layout-wrap">
  <h1 class="text-center">{{t "register.title"}}</h1>

  {{#paper-stepper
    vertical=true
    currentStep=model.currentStep
    onStepChange=(action (mut model.currentStep))
    class="flex-xs flex-offset-gt-xs-10 flex-gt-xs-80 flex-offset-gt-sm-20 flex-gt-sm-60 flex-offset-gt-md-30 flex-gt-md-40"
  as |stepper|}}
    {{#stepper.step label=(t "register.privacyAgreement") as |step|}}
      {{#step.body}}
        {{privacy-agreement}}
      {{/step.body}}

      <div class="layout-column layout-align-start-center">
        {{#paper-checkbox value=iAgree onChange=(action (mut iAgree))}}
          <strong>{{t "register.iAgree"}}</strong>
        {{/paper-checkbox}}

        {{#step.actions as |nextStep|}}
          {{#paper-button primary=true raised=true onClick=(action "agreeToPrivacy" nextStep) disabled=(not iAgree)}}
            {{t "register.next"}}
          {{/paper-button}}
        {{/step.actions}}
      </div>
    {{/stepper.step}}

    {{#stepper.step
      error=(if isInvalid (t "register.generalInfo.pleaseFix"))
      label=(t "register.generalInfo")
    as |step|}}
      {{#paper-form onValidityChange=(action "validityChange") as |form|}}
        {{#step.body class="layout-column"}}
          {{form.input
            class="flex"
            label=(t 'register.generalInfo.displayName')
            onChange=(action (mut model.user.displayName))
            required=true
            value=model.user.displayName
            errorMessages=(hash
              required=(t 'register.generalInfo.displayNameReuired')
            )
          }}

          {{#paper-select
            label=(t 'register.generalInfo.gender')
            onChange=(action "selectGender")
            options=model.genders
            required=true
            selected=selectedGender
            errorMessages=(hash
              required=(t 'register.generalInfo.gender.required')
            )
          as |gender|}}
            {{gender.label}}
          {{/paper-select}}
        {{/step.body}}

        {{#step.actions class="layout-column layout-align-start-center" as |nextStep|}}
          {{#paper-button primary=true raised=true onClick=(action "saveUser" nextStep) disabled=form.isInvalid}}
            {{t "register.next"}}
          {{/paper-button}}
        {{/step.actions}}
      {{/paper-form}}
    {{/stepper.step}}
  {{/paper-stepper}}
</div>
