<div class="main-content layout-wrap">
  <h1 class="text-center">{{t "register.title"}}</h1>

  {{#paper-stepper
    vertical=true
    currentStep=model.currentStep
    onStepChange=(action (mut model.currentStep))
    class="flex-xs flex-offset-gt-xs-10 flex-gt-xs-80 flex-offset-gt-sm-20 flex-gt-sm-60 flex-offset-gt-md-30 flex-gt-md-40"
  as |stepper|}}
    {{#stepper.step label=(t "register.privacyAgreement") as |step|}}
      {{#step.body}}
        {{privacy-agreement}}
      {{/step.body}}

      <div class="layout-column layout-align-start-center">
        {{#paper-checkbox value=iAgree onChange=(action (mut iAgree))}}
          <strong>{{t "register.iAgree"}}</strong>
        {{/paper-checkbox}}

        {{#step.actions as |nextStep|}}
          {{#paper-button primary=true raised=true onClick=(action "agreeToPrivacy" nextStep) disabled=(not iAgree)}}
            {{t "register.next"}}
          {{/paper-button}}
        {{/step.actions}}
      </div>
    {{/stepper.step}}

    {{#stepper.step
      error=(if isGeneralFormInvalid (t "register.generalInfo.pleaseFix"))
      label=(t "register.generalInfo")
    as |step|}}
      {{#extended-paper-form
        onValidityChange=(action "generalFormValidityChange")
        onSubmit=(action "generalInfoSubmit" step.nextStep)
      as |form|}}
        {{#step.body class="layout-column"}}
          {{form.input
            errors=model.user.validations.attrs.displayName.messages
            isTouched=(gt model.user.errors.displayName.length 0)
            label=(t 'register.generalInfo.displayName')
            onChange=(action (mut model.user.displayName))
            required=true
            value=model.user.displayName
            errorMessages=(hash
              required=(t 'register.generalInfo.displayNameReuired')
            )
          }}

          {{#form.select
            errors=model.user.validations.attrs.gender.messages
            isTouched=(gt model.user.errors.gender.length 0)
            label=(t 'register.generalInfo.gender')
            onChange=(action "selectGender")
            options=model.genders
            required=true
            selected=selectedGender
            errorMessages=(hash
              required=(t 'register.generalInfo.gender.required')
            )
          as |gender|}}
            {{gender.label}}
          {{/form.select}}

          {{form.date-picker
            errors=model.user.validations.attrs.birthday.messages
            isTouched=(gt model.user.errors.birthday.length 0)
            label=(t 'register.generalInfo.birthday')
            onChange=(action (mut model.user.birthday))
            required=true
            value=model.user.birthday
            yearRange='1900,currentYear'
            errorMessages=(hash
              required=(t 'register.generalInfo.birthday.required')
            )
          }}
        {{/step.body}}

        <div class="layout-column layout-align-start-center">
          {{#form.submit-button raised=true primary=true}}{{t "register.next"}}{{/form.submit-button}}
        </div>
      {{/extended-paper-form}}
    {{/stepper.step}}
  {{/paper-stepper}}
</div>
