<h1>{{model.user.complexName}}</h1>

{{user-profile-details user=model.user}}

<div class="layout-row layout-align-end-center">
  {{#paper-button raised=true warn=true onClick=(action "showDestroyConfirmation")}}
    {{t 'generalActions.delete'}}
  {{/paper-button}}
</div>

{{modals/confirmation-modal
  modalId=destroyModalId
  title=(t "users.show.deleteConfirmationTitle")
  content=(t "users.show.deleteConfirmationContent")
  onConfirm=(perform destroyModel model.user)
}}

{{modals/confirmation-modal
  modalId=addToGroupModalId
  title=(t "users.show.addToGroupConfirmationTitle" htmlSafe=true groupName=selectedGroup.name)
  content=(t "users.show.addToGroupConfirmationContent" htmlSafe=true groupName=selectedGroup.name userName=model.user.complexName)
  onConfirm=(perform addToGroup selectedGroup)
}}

{{#paper-select
  placeholder="Add to group"
  value=selectedGroup
  options=model.academicGroups
  searchField="name"
  searchPlaceholder="Search for a vegetable.."
  searchEnabled=true
  onChange=(action "showAddToGroupConfirmation")
  as |group|
}}
  {{group.name}}
{{/paper-select}}

{{user-group-participations user=model.user}}
