<h1 class="text-center">{{t "users.heading"}}</h1>

{{pagination-controls
  pageNumber=pageNumber
  pageSize=pageSize
  route="users.index"
  total=model.meta.total
}}

{{#ember-table as |t|}}
  {{t.head
    columns=columns
    widthConstraint="eq-container"
    fillMode="last-column"
  }}

  {{t.body rows=users}}
{{/ember-table}}

{{pagination-controls
  pageNumber=pageNumber
  pageSize=pageSize
  route="users.index"
  total=model.meta.total
}}
