<div class="layout-row layout-align-center-end">
  <h1 class="flex text-center">{{model.name}}</h1>

  {{#paper-speed-dial open=isSpeedDialOpen onToggle=(action (mut isSpeedDialOpen)) as |dial|}}
    {{#dial.trigger}}
      {{#paper-button fab=true}}
        {{paper-icon "menu"}}
      {{/paper-button}}
    {{/dial.trigger}}

    {{#dial.actions as |actions|}}
      {{#actions.action}}
        {{#paper-link "groups.edit" model mini=true}}
          {{paper-icon "edit"}}
        {{/paper-link}}
      {{/actions.action}}

      {{#actions.action}}
        {{#paper-button mini=true onClick=(action "showDestroyConfirmation")}}
          {{paper-icon "delete"}}
        {{/paper-button}}
      {{/actions.action}}
    {{/dial.actions}}
  {{/paper-speed-dial}}
</div>

{{modals/confirmation-modal
  modalId=destroyModalId
  title=(t "groups.show.deleteConfirmationTitle" groupName=model.name htmlSafe=true)
  content=(t "groups.show.deleteConfirmationContent" groupName=model.name htmlSafe=true)
  onConfirm=(perform destroyModel model)
}}

{{#paper-tabs selected=router.currentRouteName borderBottom=true primary=true class="offset-bottom-1" as |tabs|}}
  {{#tabs.tab value="groups.show.index" class="ololo" href=(href-to "groups.show.index" model)}}
    {{t "groups.show.tabHeaders.index"}}
  {{/tabs.tab}}

  {{#tabs.tab value="groups.show.list" href=(href-to "groups.show.list" model)}}
    {{t "groups.show.tabHeaders.list"}}
  {{/tabs.tab}}
{{/paper-tabs}}

{{outlet}}
