<h2>{{t "landing.title"}}</h2>

{{user-profile-details user=model}}
{{user-group-participations user=model}}

<div class="layout-row layout-align-end-center">
  {{#paper-button raised=true warn=true onClick=(action "showDestroyConfirmation")}}
    {{t 'generalActions.delete'}}
  {{/paper-button}}
</div>

{{modals/confirmation-modal
  modalId=destroyModalId
  title=(t "users.show.deleteConfirmationTitle")
  content=(t "users.show.deleteConfirmationContent")
  onConfirm=(perform destroyModel model)
}}
