{{header-toolbar}}

{{#paper-sidenav-container}}
  {{main-sidenav}}

  {{#paper-card-content class="flex"}}
    <div class="layout-column layout-margin">
      <div class="layout-wrap main-content">
        {{outlet}}
      </div>

      {{paper-toaster}}

      {{main-footer}}
    </div>
  {{/paper-card-content}}
{{/paper-sidenav-container}}
